/*
  The Elveron theme is based on the original 
  subSilver Theme for phpBB version 2+
  Created by subBlue design
  http://www.subBlue.com

  The Elveron theme is created by 
  Ulf Frisk, http://www.elveron.com
  Michael Schaeffer, http://www.noobsupport.com
*/



/* Elveron skin border */
table.bordermaintable { background-color: #53683F; height: 100%; border-top: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; border-bottom: 0px solid #000000; }
table.border { height: 100%; border-top: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; border-bottom: 0px solid #000000; }
td.border_left { height: 100%; width: 20px; background-repeat: repeat-y; background-image: url(images/bg_left.gif); }
td.border_left_logo { height: 61px; width: 20px; background-repeat: repeat-y; }
td.border_right { height: 100%; width: 20px; background-repeat: repeat-y; background-image: url(images/bg_right.gif); }
td.border_right_logo { height: 61px; width: 20px; background-repeat: repeat-y; background-image: url(images/bg_right_logo.gif); }

/* Elveron skin stuff */
table.maintable { margin-left: 0px; background-color: transparent; width: 701px; height: 100%; border-top: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; border-bottom: 0px solid #000000; }
table.maintableinner { margin-left: 0px; background-color: transparent; width: 740px; height: 100%; border-top: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; border-bottom: 0px solid #000000; }
table.maintablebody	{ background-color: transparent; border: 0px #000000 solid; }
td.header_background { border-top: 0px solid #113311; border-left: 0px solid black; border-right: 0px solid black; border-bottom: 0px solid #113311; height: 61px; background-repeat: repeat-x; background-image: url(images/logo_background.gif); }
td.logo { border-top: 0px solid #113311; border-left: 0px solid black; border-right: 0px solid black; border-bottom: 0px solid #113311; height: 61px; background-repeat: no-repeat; background-image: url(images/logo.gif); }
td.footer_background { border-top: 0px solid #113311; border-left: 0px solid black; border-right: 0px solid black; border-bottom: 0px solid #113311; height: 32px; background-repeat: repeat-x; background-image: url(images/footer.gif);}

/* Elveron skin top menu */
.topmenu a { text-decoration: none; }
.topmenu a:hover { text-decoration: none; }
.topmenu td { white-space: nowrap; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #DFDFDF; }
td.b_spacer { width: 5px; height: 25px; border: 0px; }
td.b_center { height: 25px; border: 0px; background-image: url(images/button_middle.gif); }
td.b_right { width: 7px; height: 25px; border: 0px; background-image: url(images/button_right.gif); }
td.b_left_red { width: 22px; height: 25px; border: 0px; background-image: url(images/button_left_red.gif); }
td.b_left_grey { width: 22px; height: 25px; border: 0px; background-image: url(images/button_left_grey.gif); }
td.b_left_normal { width: 22px; height: 25px; border: 0px; background-image: url(images/button_left_normal.gif); }


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #000000;
	margin: 0px;
	background-image: url(images/bg.gif);
	scrollbar-face-color: #212121;
	scrollbar-highlight-color: #404040;
	scrollbar-shadow-color: #000000;
	scrollbar-3dlight-color: #616161;
	scrollbar-arrow-color:  #A1A1A1;
	scrollbar-track-color: #000000;
	scrollbar-darkshadow-color: #000000;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif; }
a:link,a:active,a:visited { color : #DFDFDF; text-decoration: none; }
a:hover		{ text-decoration: underline; color : #FFFFFF; }
hr	{ height: 0px; border: solid #CCCCCC 0px; border-top-width: 1px; }


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #000000; border: 1px #212121 solid; }

/* This is the outline round the main forum tables */
.forumline { border: 1px solid #242D1C; background: #242D1C; margin-top: 1px; margin-bottom: 1px; }


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #445533; }
td.row2	{ background-color: #445533; }
td.row3	{ background-color: #334422; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #000000;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFFFFF; font-size: 12px; font-weight : bold;
	background-color: #334422;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
    background-color:#000000; border: #FFCC66; border-style: solid; 
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom { border-width: 0px 0px 0px 0px; }
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR { font-weight: bold; border: #FFCC66; border-style: solid;  }
td.row3Right,td.spaceRow { background-color: #334422; border: #FFCC66; border-style: solid; }

th.thHead,td.catHead { color: #FFFFFF; font-size: 11px; border-width: 0px 0px 0px 0px;  background: #242D1C; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px;  background: #242D1C; }
th.thRight,td.catRight,td.row3Right	 { color: #FFFFFF; border-width: 0px 0px 0px 0px;  background: #334422; }
th.thLeft,td.catLeft	  { padding-top: 3px; padding-right: 10px; padding-bottom: 3px; padding-left: 20px; color: #FFFFFF; border-width: 0px 0px 0px 0px; background: #242D1C; background-image: url(images/box_left_icon.gif); background-repeat: no-repeat; background-position: left; }
th.thBottom,td.catBottom  { border-width: 0px 0px 0px 0px;  background: #242D1C; }
th.thTop	 { color: #FFFFFF; font-size: 11px; border-width: 0px 0px 0px 0px;  background: #242D1C; }
th.thCornerL { color: #FFFFFF; font-size: 11px; border-width: 0px 0px 0px 0px;  background: #242D1C; }
th.thCornerR { color: #FFFFFF; font-size: 11px; border-width: 0px 0px 0px 0px;  background: #242D1C; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2 { font-size: 20px; font-family: "Verdana", Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color : #FFFFFF; }


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #FFFFCC; text-decoration: none; }
a.gen,a.genmed,a.gensmall { color: #AEAEAE; text-decoration: none; }
a.gen:visited,a.genmed:visited,a.gensmall:visited	{ color: #AEAEAE; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #FFFFCC; text-decoration: none; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #FFFFCC; }
a.mainmenu		{ text-decoration: none; color : #AEAEAE;  }
a.mainmenu:visited { text-decoration: none; color : #AEAEAE; }
a.mainmenu:hover{ text-decoration: none; color : #FFFFFF; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 11px ; letter-spacing: 1px; color : #FFFFFF; }
a.cattitle		{ text-decoration: none; color : #DFDFDF; }
a.cattitle:visited { text-decoration: none; color : #DFDFDF; }
a.cattitle:hover{  color: #FFFFFF; text-decoration: none; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 11px; color : #AEAEAE; }
a.forumlink 	{ text-decoration: none; color : #AEAEAE; }
a.forumlink:visited { text-decoration: none; color : #AEAEAE; }
a.forumlink:hover{ text-decoration: none; color : #FFFFFF; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #FFFFFF;}
a.nav			{ text-decoration: none; color : #AEAEAE; }
a.nav:visited { text-decoration: none; color : #AEAEAE; }
a.nav:hover		{ text-decoration: none; color : #FFFFFF; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #FFDDAA; }
a.topictitle:link   { text-decoration: none; color : #FFFFCC; }
a.topictitle:visited { text-decoration: none; color : #FFFFCC; }
a.topictitle:hover	{ text-decoration: underline; color : #FFFFFF; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #FFFFFF;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #FFFFCC; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px; color: #FFFFCC; }
a.postlink:link	{ text-decoration: none; color : #AEAEAE; }
a.postlink:visited { text-decoration: none; color : #AEAEAE; }
a.postlink:hover { text-decoration: none; color : #FFFFFF; }


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #00CC33;
	background-color: #616161; border: #BFBFBF; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFCC; line-height: 125%;
	background-color: transparent; border: #BFBFBF; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

/* Copyright and bottom info */
.copyright { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; letter-spacing: -1px; }
a.copyright { color: #DFDFDF; text-decoration: none; }
a.copyright:link { color : #DFDFDF; text-decoration: none; }
a.copyright:visited { color : #DFDFDF; text-decoration: none; }
a.copyright:hover { color: #FFFFFF; text-decoration: underline; }


/* Form elements */
input,textarea, select {
	color : #FFFFFF;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #FFFFFF;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #353E2C;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #353E2C;
	color : #FFFFCC;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #353E2C;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #353E2C;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #212121; border-style: none; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");

.f__footer__shortcuts {
  display: block;
  margin: 5px 0;
  text-align: center;
}
.f__footer__shortcuts .shortcuts-title , .f__footer__shortcuts .shortcuts-link {
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  margin: 0;
  padding: 2px;
  text-decoration: none;
  line-height: 1em;

}
.f__footer__shortcuts .shortcuts-link {
  font-weight: normal;
}
.f__footer__shortcuts a:after {
  content: '|';
  margin-left: 5px;
}
.f__footer__shortcuts a:last-child:after {
  content: '';
}

.f_bnr_type-1 {
  display: block;
  text-align: center;
}


.f_bnr_type-1 .trzContent {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: left;
}

.f_bnr_type-1 .trzheadline {
  font-family: Arial, sans-serif;
  font-weight: 700;
  opacity: 0;
}

.f_bnr_type-1 .trzdescription {
  font-family: Arial, sans-serif;
  opacity: 0;
}

.f_bnr_type-1 .trzlogo-image {
  opacity: 0;
}

.f_bnr_type-1 .trzproduct-image {
  opacity: 0;
}

.f_bnr_type-1 .trzbutton {
  text-align: center;
  font-family: Arial, sans-serif;
  opacity: 0;
  border-radius: 2px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.4), 0px 1px 0px rgba(255,255,255,0.2) inset;
}

.f_bnr_type-1 .trzcolor-slot{
  position: absolute;
  overflow: hidden;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc3MCcgaGVpZ2h0PSc3MCc+DQo8cmVjdCB3aWR0aD0nNzAnIGhlaWdodD0nNzAnIGZpbGw9J3RyYW5zcGFyZW50Jy8+DQo8ZyB0cmFuc2Zvcm09J3JvdGF0ZSg0NSknPg0KPHJlY3Qgd2lkdGg9Jzk5JyBoZWlnaHQ9JzI1JyBmaWxsPSdyZ2JhKDAsMCwwLDAuMSknLz4NCjxyZWN0IHk9Jy01MCcgd2lkdGg9Jzk5JyBoZWlnaHQ9JzI1JyBmaWxsPSdyZ2JhKDAsMCwwLDAuMSknLz4NCjwvZz4NCjwvc3ZnPg==);
}

[data-variation*='tower'] .trzheadline {
  text-align: center;
}

[data-variation*='tower'] .trzdescription {
  text-align: center;
}

/* Default animations */
[data-variation]:not([data-variation*='small']) .trzlogo-image,
[data-variation]:not([data-variation*='small']) .trzproduct-image {
  -webkit-animation: fadein_keyframes 1.6s both;
  animation: fadein_keyframes 1.6s both;
}

[data-variation]:not([data-variation*='small']) .trzbutton {
  -webkit-animation: fadein_keyframes .8s both .8s;
  animation: fadein_keyframes .8s both .8s;
}

[data-variation]:not([data-variation*='small']) .trzheadline {
  -webkit-animation: flyin_keyframes .6s both;
  animation: flyin_keyframes .6s both;
}

[data-variation]:not([data-variation*='small']) .trzdescription {
  -webkit-animation: flyin_keyframes .6s both .3s;
  animation: flyin_keyframes .6s both .3s;
}

.trzContent[data-variation]:not([data-variation*='small']),
.trzContent[data-variation]:not([data-variation*='small']) > * {
  -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@-webkit-keyframes
fadein_keyframes {
    0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes
fadein_keyframes {
    0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes
flyin_keyframes {
    0% {opacity: 0; -webkit-transform: translateY(-20%);}
  100% {opacity: 1;}
}

@keyframes
flyin_keyframes {
    0% {opacity: 0; transform: translateY(-20%);}
  100% {opacity: 1;}
}

/* Small size animations */
[data-variation*='small'] .trzheadline {
  -webkit-animation: small_l1_keyframes 3.75s ease-in-out infinite alternate both;
  animation: small_l1_keyframes 3.75s ease-in-out infinite alternate both;
}

[data-variation*='small'] .trzdescription {
  -webkit-animation: small_l2_keyframes 3.75s ease-in-out infinite alternate both;
  animation: small_l2_keyframes 3.75s ease-in-out infinite alternate both;
}

.trzContent[data-variation*='small'],
.trzContent[data-variation*='small'] > * {
  opacity: 1;
}

@-webkit-keyframes
small_l1_keyframes {
   0%, 44% {opacity: 1; -webkit-transform: translateY(0);}
  56%,100% {opacity: 0; -webkit-transform: translateY(-30px);}
}

@keyframes
small_l1_keyframes {
   0%, 44% {opacity: 1; transform: translateY(0);}
  56%,100% {opacity: 0; transform: translateY(-30px);}
}

@-webkit-keyframes
small_l2_keyframes {
   0%, 44% {opacity: 0; -webkit-transform: translateY(30px);}
  56%,100% {opacity: 1; -webkit-transform: translateY(0);}
}

@keyframes
small_l2_keyframes {
   0%, 44% {opacity: 0; transform: translateY(30px);}
  56%,100% {opacity: 1; transform: translateY(0);}
}
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext';
body {
  margin: 0; }

.trizer-bnr {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  height: 300px;
  background-color: #000;
  position: relative; }
  .trizer-bnr * {
    text-decoration: none;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.trizer-bnr__left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px; }

.trizer__left__logo {
  display: block;
  text-align: center; }
  .trizer__left__logo img {
    display: inline-block;
    margin: 20px 0; }

.trizer__left__slogan {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0; }
  .trizer__left__slogan .trizer-slogan-text-1 {
    display: block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
    padding: 0; }
  .trizer__left__slogan .trizer-slogan-text-2 {
    display: block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin: 0;
    padding: 0; }

.trizer-cta {
  display: block;
  text-align: center; }
  .trizer-cta .trizer-cta-btn {
    display: inline-block;
    background-color: #f91429;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 30px;
    margin: 20px 0;
    font-weight: 600;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    text-decoration: none; }
  .trizer-cta .trizer-cta-btn:hover {
    background-color: #f7443a;
    text-decoration: none; }

.trizer-cta-des {
  display: block; }
  .trizer-cta-des .trizer-cta-des-text-1 {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    padding: 0; }
  .trizer-cta-des .trizer-cta-des-text-2 {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0; }

.trizer-bnr__right {
  display: block;
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }
  .trizer-bnr__right .trizer__right__slogan {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    text-align: center; }
    .trizer-bnr__right .trizer__right__slogan .slogan-title {
      display: inline-block;
      font-weight: 300;
      color: #fff;
      font-size: 86px;
      opacity: .9;
      margin: 0;
      padding: 0;
      text-decoration: none; }
    .trizer-bnr__right .trizer__right__slogan .slogan-des {
      display: block;
      text-align: center;
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      margin: 0;
      padding: 0;
      text-decoration: none; }
  .trizer-bnr__right .trizer__right__item {
    display: inline-block;
    float: left;
    width: 20%;
    opacity: 0;
    position: relative;
    margin: 0;
    padding: 0; }
    .trizer-bnr__right .trizer__right__item img {
      display: block;
      max-width: 100%;
      margin: 0;
      padding: 0; }
  .trizer-bnr__right .trizer__right__item.item-1 {
    -webkit-animation: trizer__bnr-item-1 6s infinite;
    -moz-animation: trizer__bnr-item-1 6s infinite;
    -o-animation: trizer__bnr-item-1 6s infinite;
    animation: trizer__bnr-item-1 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-2 {
    -webkit-animation: trizer__bnr-item-2 6s infinite;
    -moz-animation: trizer__bnr-item-2 6s infinite;
    -o-animation: trizer__bnr-item-2 6s infinite;
    animation: trizer__bnr-item-2 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-3 {
    -webkit-animation: trizer__bnr-item-3 6s infinite;
    -moz-animation: trizer__bnr-item-3 6s infinite;
    -o-animation: trizer__bnr-item-3 6s infinite;
    animation: trizer__bnr-item-3 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-4 {
    -webkit-animation: trizer__bnr-item-4 6s infinite;
    -moz-animation: trizer__bnr-item-4 6s infinite;
    -o-animation: trizer__bnr-item-4 6s infinite;
    animation: trizer__bnr-item-4 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-5 {
    -webkit-animation: trizer__bnr-item-5 6s infinite;
    -moz-animation: trizer__bnr-item-5 6s infinite;
    -o-animation: trizer__bnr-item-5 6s infinite;
    animation: trizer__bnr-item-5 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-6 {
    -webkit-animation: trizer__bnr-item-6 6s infinite;
    -moz-animation: trizer__bnr-item-6 6s infinite;
    -o-animation: trizer__bnr-item-6 6s infinite;
    animation: trizer__bnr-item-6 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-7 {
    -webkit-animation: trizer__bnr-item-7 6s infinite;
    -moz-animation: trizer__bnr-item-7 6s infinite;
    -o-animation: trizer__bnr-item-7 6s infinite;
    animation: trizer__bnr-item-7 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-8 {
    -webkit-animation: trizer__bnr-item-8 6s infinite;
    -moz-animation: trizer__bnr-item-8 6s infinite;
    -o-animation: trizer__bnr-item-8 6s infinite;
    animation: trizer__bnr-item-8 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-9 {
    -webkit-animation: trizer__bnr-item-9 6s infinite;
    -moz-animation: trizer__bnr-item-9 6s infinite;
    -o-animation: trizer__bnr-item-9 6s infinite;
    animation: trizer__bnr-item-9 6s infinite; }
  .trizer-bnr__right .trizer__right__item.item-10 {
    -webkit-animation: trizer__bnr-item-10 6s infinite;
    -moz-animation: trizer__bnr-item-10 6s infinite;
    -o-animation: trizer__bnr-item-10 6s infinite;
    animation: trizer__bnr-item-10 6s infinite; }

@-moz-keyframes trizer__bnr-item-1 {
  0%, 2%, 90% {
    opacity: 0;
    left: 40px; }
  4%, 6%, 88% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-1 {
  0%, 2%, 90% {
    opacity: 0;
    left: 40px; }
  4%, 6%, 88% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-1 {
  0%, 2%, 90% {
    opacity: 0;
    left: 40px; }
  4%, 6%, 88% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-1 {
  0%, 2%, 90% {
    opacity: 0;
    left: 40px; }
  4%, 6%, 88% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-2 {
  0%, 6%, 88% {
    opacity: 0;
    left: 40px; }
  8%, 10%, 86% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-2 {
  0%, 6%, 88% {
    opacity: 0;
    left: 40px; }
  8%, 10%, 86% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-2 {
  0%, 6%, 88% {
    opacity: 0;
    left: 40px; }
  8%, 10%, 86% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-2 {
  0%, 6%, 88% {
    opacity: 0;
    left: 40px; }
  8%, 10%, 86% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-3 {
  0%, 10%, 86% {
    opacity: 0;
    left: 40px; }
  12%, 14%, 84% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-3 {
  0%, 10%, 86% {
    opacity: 0;
    left: 40px; }
  12%, 14%, 84% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-3 {
  0%, 10%, 86% {
    opacity: 0;
    left: 40px; }
  12%, 14%, 84% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-3 {
  0%, 10%, 86% {
    opacity: 0;
    left: 40px; }
  12%, 14%, 84% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-4 {
  0%, 14%, 84% {
    opacity: 0;
    left: 40px; }
  16%, 18%, 82% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-4 {
  0%, 14%, 84% {
    opacity: 0;
    left: 40px; }
  16%, 18%, 82% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-4 {
  0%, 14%, 84% {
    opacity: 0;
    left: 40px; }
  16%, 18%, 82% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-4 {
  0%, 14%, 84% {
    opacity: 0;
    left: 40px; }
  16%, 18%, 82% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-5 {
  0%, 18%, 82% {
    opacity: 0;
    left: 40px; }
  20%, 22%, 80% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-5 {
  0%, 18%, 82% {
    opacity: 0;
    left: 40px; }
  20%, 22%, 80% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-5 {
  0%, 18%, 82% {
    opacity: 0;
    left: 40px; }
  20%, 22%, 80% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-5 {
  0%, 18%, 82% {
    opacity: 0;
    left: 40px; }
  20%, 22%, 80% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-6 {
  0%, 22%, 80% {
    opacity: 0;
    left: 40px; }
  24%, 26%, 78% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-6 {
  0%, 22%, 80% {
    opacity: 0;
    left: 40px; }
  24%, 26%, 78% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-6 {
  0%, 22%, 80% {
    opacity: 0;
    left: 40px; }
  24%, 26%, 78% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-6 {
  0%, 22%, 80% {
    opacity: 0;
    left: 40px; }
  24%, 26%, 78% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-7 {
  0%, 26%, 78% {
    opacity: 0;
    left: 40px; }
  28%, 30%, 76% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-7 {
  0%, 26%, 78% {
    opacity: 0;
    left: 40px; }
  28%, 30%, 76% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-7 {
  0%, 26%, 78% {
    opacity: 0;
    left: 40px; }
  28%, 30%, 76% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-7 {
  0%, 26%, 78% {
    opacity: 0;
    left: 40px; }
  28%, 30%, 76% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-8 {
  0%, 30%, 76% {
    opacity: 0;
    left: 40px; }
  32%, 34%, 74% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-8 {
  0%, 30%, 76% {
    opacity: 0;
    left: 40px; }
  32%, 34%, 74% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-8 {
  0%, 30%, 76% {
    opacity: 0;
    left: 40px; }
  32%, 34%, 74% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-8 {
  0%, 30%, 76% {
    opacity: 0;
    left: 40px; }
  32%, 34%, 74% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-9 {
  0%, 34%, 74% {
    opacity: 0;
    left: 40px; }
  36%, 38%, 72% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-9 {
  0%, 34%, 74% {
    opacity: 0;
    left: 40px; }
  36%, 38%, 72% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-9 {
  0%, 34%, 74% {
    opacity: 0;
    left: 40px; }
  36%, 38%, 72% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-9 {
  0%, 34%, 74% {
    opacity: 0;
    left: 40px; }
  36%, 38%, 72% {
    opacity: 1;
    left: 0px; } }

@-moz-keyframes trizer__bnr-item-10 {
  0%, 38%, 72% {
    opacity: 0;
    left: 40px; }
  40%, 42%, 70% {
    opacity: 1;
    left: 0px; } }

@-o-keyframes trizer__bnr-item-10 {
  0%, 38%, 72% {
    opacity: 0;
    left: 40px; }
  40%, 42%, 70% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes trizer__bnr-item-10 {
  0%, 38%, 72% {
    opacity: 0;
    left: 40px; }
  40%, 42%, 70% {
    opacity: 1;
    left: 0px; } }

@keyframes trizer__bnr-item-10 {
  0%, 38%, 72% {
    opacity: 0;
    left: 40px; }
  40%, 42%, 70% {
    opacity: 1;
    left: 0px; } }

.pp-t-a-c {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100000;
}
.pp-t-a-c * {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pp-t-a-c .t-a-c__overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
}

.pp-t-a-c .t-a-c__box {
	display: block;
	margin: 100px auto;
	max-width: 600px;
	/*height: 600px;*/
	background-color: #fff;
	position: relative;
	border-radius: 4px;
}
@media (max-width: 767px) {
	.pp-t-a-c .t-a-c__box {
		margin: 20px 10px;
	}
}
.pp-t-a-c .t-a-c__box-header {
	display: block;
	padding: 20px;
	border-bottom: 1px solid whitesmoke;
	padding-right: 40px;
	position: relative;
}
.pp-t-a-c .t-a-c__box-header .header-text {
	display: inline-block;
	font-size: 20px;
	line-height: 1.4em;
	font-weight: bold;
}
.pp-t-a-c .t-a-c__box-header .header-text span {
	display: inline-block;
}
@media (max-width: 767px) {
	.pp-t-a-c .t-a-c__box-header .header-text {
		font-size: 16px;
	}
}
.pp-t-a-c .t-a-c__box-content {
	display: block;
	padding: 20px;
}

.pp-t-a-c .t-a-c__box-content .content-inner {
	display: block;
}

.pp-t-a-c .t-a-c__box-content .content-inner p,
.pp-t-a-c .t-a-c__box-content .content-inner a {
	display: block;
	font-size: 16px;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}
.pp-t-a-c .t-a-c__box-content .content-inner a {
	display: inline-block;
	font-weight: bold;
	color: #58abf9;
}
@media (max-width: 767px) {
	.pp-t-a-c .t-a-c__box-content .content-inner p,
	.pp-t-a-c .t-a-c__box-content .content-inner a {
		font-size: 12px;
	}

}
.pp-t-a-c .t-a-c__box-bottom {
	display: block;
	padding: 20px;
	border-top: 1px solid whitesmoke;
}

.pp-t-a-c .t-a-c__box-bottom .bottom-inner {
	text-align: right;
}

.pp-t-a-c .t-a-c__box__btn {
	display: inline-block;
	height: 50px;
	line-height: normal;
	padding: 10px 30px;
	background-color: #39b518;
	border: 1px solid #39b518;
	outline: none;
	border-radius: 4px;
	margin-left: 10px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.pp-t-a-c .t-a-c__box__btn:hover {
	background-color: #4acb27;
}
@media (max-width: 767px) {
	.pp-t-a-c .t-a-c__box__btn {
		padding: 10px 15px;
	}
}
.pp-t-a-c .t-a-c__box__btn.btn--second {
	background-color: #292929;
	border: 1px solid #292929;
}
.pp-t-a-c .t-a-c__box__btn.btn--second:hover {
	background-color: #4c4c4c;
}
.pp-t-a-c .t-a-c__box__btn .t-a-c__box__btn__label {
	display: inline-block;
	line-height: 30px;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
}

.pp-t-a-c .t-a-c__box .t-a-c__btn-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.pp-t-a-c .t-a-c__box .t-a-c__btn-close {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAhCAYAAAC4JqlRAAABlElEQVRYhb2YwW2DQBAAx5d8ePJDeVIBUlKCU4JTAikhKSGUYEpIvvnZLbgE+5snLeTBnQN4Oe4WyEony+jYGVnevYVNURQIsbWfJ6CRNkREbtfFrl6YwfcU+AQOdp2Bxxnw0uZwuUqfQGo37oRrGokS2A+u7YcSTsAH0khIcFHCBAJiJHzwGwkDvAUmDpEIgXcldndZlh0CbwBIaP8jR+BnBtxFaogvM+mX0MABGgNUihu7Emo4UN1bgRyhRgMlUiX8GTi5MnwFakWiWXDoNyKthBo+FFhb4gYuCawlIcLHBJaWGIX7BJaS8MKnBJzEcYbAuw8eIlDyN5xo4oOJc8YnoO1w3Zg8wMYEloAHSUgCS8InJYYCa8C9El2BNeGjEk7gP+CihJkBb4An9KfoAcjdSJYo4K7DfQMPxI/uCZC4qVgLd6Ft27khrtX6ertG4miAl5GEMXCNRA1UbiqeShyyJ0aitvuuZegDxMBDJK7wrsAYSAPvSgxH/h4cYCO8H0hpn35S4AvhmT4ytrQlerH5evELoDp4C9SASckAAAAASUVORK5CYII=');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 16px auto;
	background-size: 16px auto;
	line-height: normal;
	padding: 0;
	margin: 0;

}
